body {
  padding: 0;
  height: 850px;
  width:100%;
  background-image:url("../images/pingpong.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/*header*/

.jumbotron {
  text-align: center;
  height: 10%;
  background-color: #FFD7A2;
  opacity: 0.8;
}

/*header*/

/*The about Ping Pong part*/

.float-left-area {
  width: 30%;
  float: left;
  padding: 10px;
  opacity: 0.9;
}

.inner-left {
  padding: 10px;
  margin-right: 15px border #999999 1px solid;
  min-height: 60px;
  background-color: green;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.float-right-area {
  width: 70%;
  float: left;
  padding: 10px;
  opacity: 0.9;
}

.inner-right {
  padding: 10px;
  margin-right: 10px padding 5px 5px 5px 5px;
  border: #999999 1px solid;
  min-height: 60px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: whitesmoke
}

.clear-floated {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  padding: 0;
  margin: 0;
}