body {
  background-color: #DAD9D7;
}


.jumbotron {
  text-align: center;
  height: 10%;
  background-color: #FFD7A2;
}


.float-left-area {
  width: 30%;
  float: left;
  padding-bottom: 1000px;
}

.sidebar{
    float: left;
    background-color: green;
    margin-top: 40px;
    padding-right: 100px;
    padding-bottom: 800px;
    margin-left:-120px;
}

.float-right-area {
  width: 70%;
  float: left;
  padding: 10px;
}

.inner-right {
  padding: 10px;
  margin-right: 10px padding 5px 5px 5px 5px;
  border: #999999 1px solid;
  min-height: 60px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}