body {
  background-color: #DAD9D7;
}


.jumbotron{
    font-family: "calibri";
    font-style: "bold";
    text-align: center;
    height: 10%
    background-color: #d8b066;

}


.float-left-area {
  width: 30%;
  float: left;
  padding-bottom: 1000px;
}

.sidebar{
    float: left;
    background-color: green;
    margin-top: 40px;
    padding-right: 100px;
    padding-bottom: 800px;
    margin-left:-120px;
}